@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: rgb(49, 49, 49);
   
}
body{
    background-color: #5f2c82;
}
main{
    position: relative;
}
section{
    position: absolute;
    background-color: white;
    width: 280px;
    height: 520px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,30%);
    border-radius: 21px;
    padding: 10px;
}
form input{
    height: 40px;
    width:80%;
    border-radius: 8px;
    margin: 5px;
    text-indent: 5px;
    
}
#form-login h1{
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
}
#form-login p{
    margin: 10px;
}
#imagem-login > img{
    width: 300px;
    border-radius: 20px 20px 0px 0px ;
    transform: translate(-10px,-10px);
}

.entradas{
    width: 90%;
    margin-left: 14px;
}
